button.primary {
  background-color: #1688fe;
  color: #ffffff;
  
}

button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  min-width: 150px;
  padding: 12px;
  font-size: 15px;
  line-height: 15px;
}

button.link {
  background-color: transparent;
  color: red;
  padding: 12px 0;
}
