.profile-container {
  padding: 20px 5%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.premium-account-card {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 20px;
  background-color: #008b5d;
  color: #ffffff;
  border-radius: 8px;
}

.premium-account-icon {
  padding: 10px;
  border-radius: 50%;
  background-color: #ffffff;
  min-width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.premium-account-card-desc {
  font-size: 15px;
  line-height: 22px;
  margin-top: 5px;
}

.personal-info-form-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
  flex-wrap: wrap;
}

.form-image-container {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.form-row {
  display: flex;
  gap: 10px;
}

.form-col {
  width: 50%;
}

.form-image {
  width: 200px;
  height: 200px;
  flex-grow: 1;
  border-radius: 50%;
}

.form-note {
  margin: 15px 0;
}

.show-profile-checkbox {
  margin: 15px 0;
}

.profile-footer {
  border-top: 1px solid #ececed;
}

.profile-footer-list {
  display: flex;
  gap: 30px;
  list-style: none;
  padding: 0;
}

.profile-footer-list-item {
  color: #79797a
}

@media screen and (max-width: 1000px) {
  .form-image-container {
    flex-direction: column-reverse;
    align-items: center;
  }
}