.profile-container {
  padding: 20px 5%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.premium-account-card {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 20px;
  background-color: var(--green);
  color: #ffffff;
  border-radius: 8px;
}

.premium-account-icon {
  padding: 10px;
  border-radius: 50%;
  background-color: var(--background-color);
  min-width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.premium-account-card-desc {
  font-size: 15px;
  line-height: 22px;
  margin-top: 5px;
}

.personal-info-form-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.form-image-container {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.address {
  grid-column: span 2;
}

.form-image {
  width: 200px;
  height: 200px;
  flex-grow: 1;
  border-radius: 50%;
}

.form-note {
  margin: 15px 0;
}

.show-profile-checkbox {
  margin: 15px 0;
}

.profile-footer {
  border-top: 1px solid var(--border-color);
}

.profile-footer-list {
  display: flex;
  gap: 30px;
  list-style: none;
  padding: 0;
}

.profile-footer-list-item {
  color: var(--secondary-color);
}

@media screen and (max-width: 1000px) {
  .form-image-container {
    flex-direction: column-reverse;
    align-items: center;
  }
}

@media screen and (max-width: 600px) {
  .form-grid {
    grid-template-columns: 1fr;
  }
  .address {
    grid-column: span 1;
  }
}

@media screen and (max-width: 500px) {
  .premium-account-card {
    flex-direction: column;
  }
}
