.sidebar-container {
  min-width: 250px;
  border-right: 1px;
  padding-top: 10px;
  border-right: 1px solid #ececed;
}

.column-flex {
  display: flex;
  flex-direction: column;
}

.spacer {
  flex: 1;
}

.r-gap-10 {
  row-gap: 12px;
}

.logo {
  border-bottom: 1px solid #ececed;
  padding: 10px;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 5px;

  padding: 0 10px;
}

.fw-bold {
  font-weight: 500;
}

.sidebar-footer {
  border-top: 1px solid #ececed;
  padding: 10px;
}

.sidebar-footer-profile {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.gap-10 {
  gap: 10px;
}
