.my-input {
  flex-grow: 1;
  fieldset {
    border-radius: 5px;
    cursor: text;
    border: 1px solid #b4b4b5;
    display: flex;
  }

  &:focus-within fieldset {
    border-color: #000; /* New border color on focus */
    color: #000;
  }

  input {
    width: -webkit-fill-available;
    border: none;
    outline: none;
    padding: 5px;
  }
}
